body{
    /*font-family: 'Open Sans', sans-serif;
          margin: 0;*/
        /*margin-bottom: 10px;*/
              
        
     
}
.navegacionPropia{
    background-color: blue;
}

/*.nav-link{
    color: white;
}*/
/*.nav-link:hover{
   color: blue;
}*/

/*#main-footer{
   background-color: black;
   color:beige;
   margin-top: 10px;
   padding: 5px;
   text-align: center;
}*/

#reseña{
    text-align: center;
    color: black;

}
/*#servicios{
    background-color: grey;
    padding-bottom: 10px;
}*/
#principal,
#competencias,
#equipo,
#enlaces,
#contacto {
    padding-top: 60px;
    min-height: 700px;
}
.navbar a {
    font-weight: bold;
    }
.navbar-dark {
    background-color:black;
}
h1, h2, h3, h4, h5, h6, .navbar, .modal {
    font-family: 'Poiret One', cursive;
    }
